h1 {
    justify-content: center;
    align-self: center;
    text-align: center;
}

#replayBtn {
    justify-content: center;
    align-self: center;
    display: flex;
    text-align: center;
}

.row {
    width: 100%;
    justify-content: center;
    align-self: center;
}

.square {
    border: 1px solid black;
    height: 5vw;
    width: 5vw;
    display: flex;
}
